<nav class="navbar">
  <div class="navbar__container">
    <a href="/">
      <img class="navbar__logo" src="img/header_logo.png" alt="header logo" />
    </a>

    <ul class="navbar__menu">
      <li>
        <a href="/about" class="navbar__links" id="about-page">About</a>
      </li>
      <li>
        <a href="/project" class="navbar__links" id="project-page">Projects</a>
      </li>
    </ul>
  </div>
</nav>
