<div class="about__container">
    <div class="about__description">
        <h2>Hi! <br><br> I'm glad you would like to know me more. &#128522 </h2>
        <p>I always like to try new things. I self learn coding, design, public speaking and skateboarding in my free time. 2023 is a big pivot for me. I quit my job as a PM in Taiwan, and flighted 7,676 miles to Indiana, the United States, to pursue my study aboard dream.

            <br><br>Now, I enjoy the weather in Bloomington, and has great passion for front-end design and development, especially for creating a friendly data visualization display.
            
            <br><br>Thanks for reading. Nice to meet you.</p>
    </div>
    <div class="about__image__container">
        <div class="about__image">
            <div class="about__card">
                <img src="/img/about-img1.jpg" id="pm">
                <p>My career starts as a PM. I planned product roadmap, built up customer relationship, and did demo all the time.</p>
            </div>
            
            <div class="about__card">
                <img src="/img/about-img2.jpg" id="library" />
                <p>2017 summer intern in San Francisco Public Library, teaching readers how to use LINE.</p>
            </div>

        </div>
        
        <div class="about__image">
            <div class="about__card">
                <img src="/img/about-img3.jpg" id="campus" />
                <p>I came to this beautiful campus in 2023 August. Study hard, play hard!</p>
            </div>
            
            <div class="about__card">
                <img src="/img/about-img4.jpg" id="skateboard" />
                <p>Challenge myself to skateboard in my late 20s.</p>
            </div>          
        </div>     
    </div>


</div>
