<div class="hero__background__image">
  <div class="hero__container">
    <div class="hero__container--content">
      <div class="author__heading">
        <div id="heading">Welcome to Yishan's blog</div>
      </div>
      <div class="author__body">
        <h2 id="body">
          I design and code for better <span>data visualization</span> and
          <span>user experience</span>
        </h2>
        <div class="social__icons">
          <a href="https://www.linkedin.com/in/sandy-yishanhsieh/"
            ><img src="/img/linkedin-in.svg"
          /></a>
          <a href="https://github.com/yishanhsieh"
            ><img src="/img/github.svg"
          /></a>
          <a href="yishanhsieh419@gmail.com"
            ><img src="/img/envelope-solid.svg"
          /></a>
        </div>
      </div>
    </div>
    <div class="hero__container--img">
      <img class="hero__img" src="/img/profile-pic.png" alt="profile-pic" />
    </div>
  </div>
</div>

<section class="article__container">
  <h2 class="article__heading">Recent articles</h2>

  <ul class="article-ul">
    <% data.slice(0,3).forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span class="article__title"><%= post.title %></span>
      </a>
      <span class="article-list__date"
        ><%= post.createdAt.toDateString() %></span
      >
    </li>
    <% }) %>
  </ul>
</section>
