<div class="hero__background__image">
  <div class="hero__container">
    <div class="hero__container--content">
      <div class="author__heading">
        <h3 id="heading">Hi, I'm Yi-Shan</h3>
      </div>
      <div class="author__body">
        <h2 id="body">
          I design and code for better <span>data visualization</span> and
          <span>user experience</span>
        </h2>
      </div>
    </div>
    <div class="hero__container--img">
      <img class="hero__img" src="/img/profile-pic.png" alt="profile-pic" />
    </div>
  </div>
</div>

<section class="projects">
  <h2 class="projects__heading">Recent Projects</h2>

  <ul class="projects__ul">
    <li>
      <a href="#">
        <span>Post title</span>
        <span class="project__description">description</span>
      </a>
    </li>
  </ul>
</section>
