<h1>Projects</h1>
<section class="projects">
  <div class="projects__card__container">
    <div class="projects__card">
      <div class="card__img__container">
        <a href="/"
          ><img
            class="card__img"
            src="/img/prj-placeholder.jpg"
            alt="project-image"
        /></a>
      </div>
      <div class="card__content">
        <a href="/">Project name1</a>
        <p>This is a description about the project</p>
      </div>
    </div>

    <div class="projects__card">
      <div class="card__img__container">
        <a href="/"
          ><img
            class="card__img"
            src="/img/prj-placeholder.jpg"
            alt="project-image"
        /></a>
      </div>
      <div class="card__content">
        <a href="/">Project name1</a>
        <p>This is a description about the project</p>
      </div>
    </div>

    <div class="projects__card">
      <div class="card__img__container">
        <a href="/"
          ><img
            class="card__img"
            src="/img/prj-placeholder.jpg"
            alt="project-image"
        /></a>
      </div>
      <div class="card__content">
        <a href="/">Project name1</a>
        <p>This is a description about the project</p>
      </div>
    </div>
  </div>
</section>
