@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree&family=Montserrat&family=Space+Mono&display=swap");
:root {
  --black: #1c1c1c;
  --grey: #5e5e5e;
  --pink: #f3d3bd;
  --lightwhite: #fcfaf9;
  --brightblue: #66c6ba;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: var(--font-size-base);
  background-color: var(--lightwhite);
  margin: 0 auto;
}

a {
  color: var(--brightblue);
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3p;
  text-decoration-style: wavy;
  text-decoration-color: var(--pink);
  font-weight: bold;
}

h1 {
  font-size: var(--font-size-xl);
}
h2 {
  font-size: var(--font-size-lg);
}
h3 {
  font-size: var(--font-size-md);
}

.btn {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
}

/* Layout */
.container {
  max-width: 982px;
  margin: 20px auto;
  padding: 0;
}

.main {
  padding: 20px auto;
}

/* Main Header */
.navbar {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 800;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1300px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__links {
  display: flex;
  margin: 0 10px;
  text-decoration: none;
  justify-content: center;
}

.navbar__links:hover {
  color: var(--brightblue);
  font-weight: bold;
}

@media only screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: center;
  }

  .navbar__menu {
    font-size: 1rem;
  }
}

/* Hero Section */

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 270px;
  padding: 30px;
  margin: 120px auto 120px auto;
}

.hero__background__image {
  background-image: url("/img/data-dot-background.png");
  background-size: contain;
  margin: 0;
}

.hero__container--content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 8px 0 0;
}

.author__heading #heading {
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--grey);
}

.author__body #body {
  font-weight: bold;
}

.author__body span {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--pink);
}

.hero__container--img {
  justify-content: center;
  align-items: center;
}

.hero__img {
  width: 350px;
  filter: drop-shadow(0px 44px 34px rgba(98, 97, 97, 0.25));
  overflow: visible;
  border-radius: var(--border-radius);
}

.social__icons a {
  padding-right: 25px;
}
.social__icons img {
  width: 28px;
  height: 28px;
}

.social__icons img:hover {
  background-color: var(--pink);
  border-radius: 8px;
}

@media only screen and (max-width: 680px) {
  .hero__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    margin: 0 5px;
    height: 90%;
  }

  .hero__container--content {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .hero__img {
    width: 250px;
    height: auto;
  }

  .hero__container--img {
    margin: 0 auto;
  }

  .author__heading #heading {
    font-size: 1.5rem;
    text-align: center;
  }

  .author__body #body {
    font-size: 1.5rem;
    text-align: center;
  }

  .social__icons {
    justify-content: center;
    text-align: center;
    margin: 40px auto;
  }
}

/* Recent articles Section */

.article__container {
  justify-content: left;
  max-width: 1200px;
  height: auto;
  padding: 30px;
  margin: 0 auto 120px auto;
}

.article-ul {
  flex-direction: column;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.article-ul li {
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-decoration: none;
  margin: 18px 0;
  font-weight: 800;
  font-size: 1.2rem;
}

.article-ul li a {
  text-decoration: none;
  color: var(--grey);
}

.article-list__date {
  font-size: 0.9rem;
  color: var(--grey);
  text-align: right;
}

.article__title:hover {
  color: var(--brightblue);
}

@media only screen and (max-width: 680px) {
  .article__container {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 48px;
    height: 90%;
  }

  .article__heading {
    font-size: 1.7rem;
    text-align: center;
  }
  .article__container h1 {
    font-size: 1.7rem;
    text-align: center;
  }
  .article-ul li {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
  }

  .article-ul li a {
    font-size: 1rem;
  }
  .article-list__date {
    font-size: 0.8rem;
    text-align: left;
    margin-top: 5px;
  }
}
/* Post section */

.post__container {
  display: grid;
  grid-template-rows: auto;
  justify-content: left;
  max-width: 1000px;
  height: auto;
  padding: 30px;
  margin: 0 80px 120px 80px;
}

.post__content {
  line-height: 2rem;
  font-size: 1.2rem;
  font-family: "Figtree", sans-serif;
}

.post__date {
  color: var(--grey);
  font-size: 1rem;
}

@media only screen and (max-width: 680px) {
  .post__container {
    margin: 0;
    margin-bottom: 48px;
  }
  .post__title {
    font-size: 2rem;
  }
}

/* Dashboard Admin */
.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-post-controls .btn {
  display: inline-block;
  background-color: var(--black);
  color: white;
  border: 0;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 4px 8px;
  line-height: 2;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.pagination {
  font-size: 1.3rem;
  color: var(--gray);
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: var(--black);
}

/* Admin panel component */

.btn {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-delete {
  padding: 10px 16px;
  background-color: crimson;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

/* footer */

.footer {
  text-align: center;
  justify-content: center;
  line-height: 1.5rem;
  font-size: 1rem;
}

@media only screen and (max-width: 680px) {
  .footer {
    font-size: 0.8rem;
  }
}

/* About Section*/
.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  max-width: 1200px;
  padding: 30px;
  margin: 20px auto 120px auto;
}

.about__description {
  margin-right: 24px;
}

.about__description p {
  line-height: 1.7rem;
}

.about__image__container {
  margin-top: 72px;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}

.about__image {
  display: grid;
  grid-template-columns: auto auto;
}

.about__image img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
}

.about__card {
  display: grid;
  grid-template-rows: auto auto;
  margin: 0 10px;
}

.about__card p {
  color: var(--grey);
  line-height: 1.2rem;
  font-size: 0.85rem;
}

#pm {
  width: 165px;
  height: 124px;
}

#library {
  width: 336px;
  height: 190px;
}

#campus {
  width: 376px;
  height: 283px;
}

#skateboard {
  width: 126px;
  height: auto;
}

@media only screen and (max-width: 950px) {
  .about__container {
    display: grid;
    grid-template-columns: auto;
  }

  .about__description {
    margin: auto auto;
  }

  .about__image {
    display: flex;
    flex-direction: column;
  }

  .about__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
    align-items: center;
    justify-self: center;
  }

  .about__card p {
    margin: 0 auto;
    width: 400px;
  }

  #pm,
  #library,
  #campus,
  #skateboard {
    width: 400px;
    height: auto;
  }
}

@media only screen and (max-width: 364px) {
  #pm,
  #library,
  #campus,
  #skateboard {
    width: 250px;
    height: auto;
  }

  .about__card p {
    margin: 0 auto;
    width: 250px;
  }
}
